In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

import json
import os
import pandas as pd
from datetime import datetime
from dotenv import load_dotenv, find_dotenv
from pathlib import Path
from src.func import tweet_utils
from src.func import regex
from src.func import labmtgen
from src.sentiment.senti_utils import *
from src.sentiment.process_tweets import *
from labMTsimple.storyLab import *
import random
import numpy as np
from collections import Counter
from collections import defaultdict
import seaborn as sns
%matplotlib inline

In [111]:
hashtag_file = Path("../src/sentiment/hashtags.json")
with open(hashtag_file, 'r') as fp:
    hashtags  = json.load(fp)
    
city = Path("../data/processed/tweets/MA_Boston_2507000.json")
tweets = load_tweets(city) # loads all tweets, removing duplicates
park_user_tweets = user_control_split(tweets, hashtags)

In [113]:
park_users = list(park_user_tweets.keys())
user_counts = {}
for user, tweet_list in park_user_tweets.items():
    total_tweets = len(tweet_list)
    user_parks = [tweet['Park_Name'] for tweet in tweet_list if not pd.isnull(tweet['Park_Name'])]
    park_visits = len(user_parks)
    nonpark_tweets = total_tweets - park_visits
    unique_parks = len(set(user_parks))
    user_counts[user] = {"city_tweets":total_tweets, "park_tweets":park_visits, "other_tweets":nonpark_tweets, "park_count":unique_parks}
    
user_df = pd.DataFrame.from_dict(user_counts, orient='index').sort_values(by=['park_tweets'],ascending=False)
user_df.sort_values(by=['park_count'],ascending=False).head(5)

            city_tweets  park_tweets  other_tweets  park_count
54988729          16189         1168         15021         267
3413390356          991           68           923          46
356162725          2580          266          2314          22
484359989           757           44           713          19
149980649          2119          107          2012          19

In [123]:
user_df[user_df.other_tweets==0].sort_values(by='park_count', ascending=False).head()

           city_tweets  park_tweets  other_tweets  park_count
163610014            6            6             0           4
119460394            4            4             0           4
60439796             3            3             0           3
296542687            3            3             0           3
567262121            3            3             0           3

In [121]:
t_user = '169587763'
t_tweets = []
for tweet in tweets:
    if tweet['user']['id_str'] == t_user:
        t_tweets.append(tweet)
for tweet in t_tweets:
    if not pd.isnull(tweet['ParkID']):
        print(tweet['Park_Name'],tweet['pure_text'], tweet['user']['location'])

Boston Common Everyone within a 5 foot radius is really enjoying my Walter White cough. #byelung Athens, OH
Riverway I Any #FuelTheFuture attendees looking for personal branding know-how: please join the #ScrippsPRCW chat w @Matt_Prince 2/25 8-9pm! Athens, OH